{{!
  <input type="file" id="file_input"><br/>
  <div id="input"></div><br/>
  <div id="thumbs"></div>
 }}
 <a data-hull-action="process" data-hull-filter="sinCity">SinCity</a>
{{#upload_policy}}
  <form action="{{url}}" method="post" enctype="multipart/form-data" class="hull-upload">

    {{#key_value params}}
      <input type="hidden" name="{{key}}" value="{{value}}"/>
    {{/key_value}}

    <div class="hull-upload__dropzone well hidden-phone hidden-phone-tablet" data-hull-container="{{../options.dropZone}}">
      {{> image_upload/drop_zone}}
    </div>

    <input type="hidden" name="Filename" value=""/>
    <input type="hidden" name="Content-Type" value=""/>
    <input type="hidden" name="name" value=""/>

    <div class="hull-upload__filebutton fileupload-buttonbar">
        {{> image_upload/add_file}}
    </div>

    <div class="fileupload-progress fade">
      <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
        <div class="bar" style="width:0%;"></div>
      </div>
      <div class="progress-extended">&nbsp;</div>
    </div>

    <div class='error'></div>

    <div class='filescontainer' data-hull-container="{{../options.filesContainer}}">
      {{> image_upload/files}}
    </div>

  </form>
{{/upload_policy}}
